body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.bars{
    color:white;
    margin:0;
    margin-left:90%;
    display:none;
}

.bars i{
    font-size:2rem;
    
}

.dropdown-list{
    margin: 0;
    display:none ;
    background-color: #828470;
   box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.7rem;
    list-style: none;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin:0.3rem 0px;
}


.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    /*list-style: none;*/
    color: white;
    text-decoration: none;
}






.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

section{
    width:100%;
    display:flex;
    flex-direction:column;  
    align-items:center;
}  
    
    section:nth-child(2n){
        background-color:lightgrey;
    }
    section:nth-child(2n+1){
        background-color: white;
    }
    
.section-heading{
   color:rgb(54, 140, 251);
    font-weight:400;
    width:auto;
}



/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

/*skill section*/

.skills-display{
    width:75%;
   margin-bottom:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding:10px;
  

        
}

.skills-progress{
    width:7rem;
    height:1.4rem;
    background-color:grey;
    border-radius:0.8rem;
    border:2px solid black;
    margin:25px;
}


.skills-progress>div{
    border-radius:20px 0px 0px 20px;
}



.skill-name{
    font-size:1rem;
    color:white;
  margin-left:10px;
}

.mb75px{
    margin-bottom:55px;
    
}


/*color classes*/

.mb-blue {
    background-color: #2857a4;
    
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}


/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}

.seventy-five-percent{
    height: inherit;
    width:75%;
}


/*experience and education section*/

#experience {
    justify-content:center;
    display:flex;
}


.timeline{
    position:relative;
    width:75%;
    height:75%;
}
.timeline-box{
    position:relative;
    width:45%;
    min-height:150px;
    left:5%;
    border:2px solid black;
    margin:5px;
    border:none;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
}

.timeline-box:nth-child(2n){
    left:55%;
}

.timeline-box:nth-child(2n+1)::after{
    content:'';
    position:absolute;
    top:32%;
    right:-7%;
    border-radius:50%;
    width:0.5rem;
    height:0.5rem;
    background-color:rgb(76, 74, 74);;   
    z-index:1;
}

.timeline-box:nth-child(2n)::after{
    content:'';
    position:absolute;
    top:32%;
    left:-7%;
    border-radius:50%;
    width:0.5rem;
    height:0.5rem;
    background-color:rgb(76, 74, 74);
    z-index:1;
    
}




.time-line-divider{
    position:absolute;
    height:73%;
    width:0;
    border:3px dashed rgb(96, 187, 244);
    top:9%;
    left:53%;
        
}

 
/*portfolio section*/

#portfolio {
    justify-content:center;
    display:flex;
   
}


.portfolio-display{
    display:flex;
     flex-wrap:wrap;
     justify-content:space-between;
}
.portfolio-display img{
    height:auto;
    width:30%;
}


#contact{
    display:flex;
    height:100vh;
    width:100vw;
    background:linear-gradient(to right, #2857a4,#403066);
    
}

.white{
    color:white;
}



.contact-details{
    display:flex;   
    
}

/*contact section*/

#contact-form input, textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

/*doubt*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#user-input, #input-name{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#input-submit{
    border:2px solid white;
    display:flex;
    background:transparent;
    text-align:centre;
    justify-content:center;
    color:white;
    padding:10px;
    font-weight:bold;
    margin-left:100px;
}


.contact1{
    width:50%;
}

.contact2  {
    width:50%;
    height:30%;
    margin-left:30%;
}

.contact2 p{
    font-size:20px;
}


.timeline-traveller{
    position:sticky;
    top:30%;
    transform:rotate(90deg);
    z-index:2;
}


@media only screen and (max-width:600px){

    .bars {
        display: block;
    }
    
    
    .nav-menu {
       display: none;
    } 

   

    .time-line-divider{
        left:5%;
    }

    .timeline-box{
        left:20%;
        width:80%;
    }

    .timeline-box:nth-child(2n){
        left:20%;
    }

    .timeline-box:nth-child(2n+1)::after{
        left:-21%;
    }
    .timeline-box:nth-child(2n)::after{
        left:-21%;
    }

    
    #contact{
        height:150vh;
        
        position: relative;
        
    }

    .contact1{
        
        margin-left:0%;
    }

    .contact2{
        width:80%;
        position: absolute;
        left: -25%;
        margin-top: 60%;
        height: 160vh;
        
       
    }

    .social-icons{
        position: absolute;
        margin-left: -60%;
        margin-top:90%
    }

 }



